{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block body %}
<div class = "container">
    <h1>Контакты</h1>
</div>
<p> </p>
<p> </p>

<nav class="nav nav-masthead justify-content-center">
    <a class="me-3 btn btn-outline-secondary" href="https://vk.com/id515522477">VK</a>
  <a class="me-3 btn btn-outline-secondary" href="https://t.me/anastasiya_ryabtseva_99">Telegram</a>
  <a class="me-3 btn btn-outline-secondary" href="https://www.linkedin.com/in/anastasiya-ryabtseva-93a8a9238/">Linkedin</a>
  <a class="me-3 btn btn-outline-secondary" href="https://github.com/Anastasiya-Ryabtseva">GitHub</a>
  <a class="me-3 btn btn-outline-secondary" href="mailto:nastya.ryabtseva.99">E-mail</a>
</nav>
{% endblock %}
