{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
  <main role="main" class="inner cover">
    <p> </p>
    <p> </p>
    <h1 class="cover-heading">Рябцева Анастасия</h1>
    <p class="lead">Python-разработчик</p>
  </main>
<link href="static/css/i.css" rel="stylesheet">
<ul class="social-icons">
  <li><a class="social-icon-vk" href="https://vk.com/id515522477" title="VK" target="_blank" rel="noopener"></a></li>
  <li><a class="social-icon-telegram" href="https://t.me/anastasiya_ryabtseva_99" title="Telegram" target="_blank" rel="noopener"></a></li>
  <li><a class="social-icon-linkedin" href="https://www.linkedin.com/in/anastasiya-ryabtseva-93a8a9238/" title="Linkedin" target="_blank" rel="noopener"></a></li>
  <li><a class="social-icon-github" href="https://github.com/Anastasiya-Ryabtseva" title="GitHub" target="_blank" rel="noopener"></a></li>
  <li><a class="social-icon-p" href="mailto:nastya.ryabtseva.99" title="mail" target="_blank" rel="noopener"></a></li>

</ul>
{% endblock %}



