{% extends 'base.html' %}

{% block title %}
Портфолио
{% endblock %}

{% block body %}
<div class = "container">
    <h1>Портфолио</h1>
</div>

<header class="site-header">
      <div class="container">
          <h4>1.Telegram-бот для поиска и просмотра фильмов и сериалов</h4>
          <img src="static/img/Telebot.png" width="501" height="670">
        <h4>2.Калькулятор PyQt5</h4>
        <img src="static/img/calc.png" width="326" height="496">
          <h4>3.Игра «Змейка» c использованием модуля Pygame</h4>
          <img src="static/img/Snake.png" width="698" height="524">


      </div>
    </header>
{% endblock %}